*{
    margin:0;
    padding: 0;
    /* outline: blue dotted 1px; */
    font-family: 'Figtree', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #252525;
    
}
/*------------- Scrollbar------------ */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background: transparent;

  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #252525;
    overflow: overlay;
  }

a{
    text-decoration: none;
  }

body{
    min-height: 100vh;
    background-color: var(--mainbg-color);
}

.widthlarge{
    margin: auto;
    max-width: 100%;
}

.widthmedium{
    margin: auto;
    max-width: 75%;
}

.widthsmall{
    margin: auto;
    max-width: 55%;
}

.content{
    margin: auto;
    display: flex;
    gap: 1rem; 
    justify-content: center;
    max-width: 75%;
}

.content2{
    margin: auto;
    display: flex;
    gap: 2rem; 
    align-items: center;
}

#intr{
    background-color: var(--mainbg-color);
    min-height: 100vh;
}

.intro-section{
    margin: auto;
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 75%;
    min-height: 85vh;
}

.hello>h2{
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: -.1rem;
    line-height: 90%;
}

.iAm{
    max-width: 400px;
    display: flex;
    gap: 1rem;
    font-size: 3rem;
}
.iAm>h3:not(.animationRoll){
    font-weight: 400;
}

.shadowBox{
    border: 2px solid #4c3117;
    padding: 20px;
    background-color: #fff3eb;
    box-shadow: 15px 15px 0px #b7b3a7;
    max-width: 650px;
    line-height: 130%;
    margin-bottom: 4rem;
    border-radius: .2rem;
    transition: box-shadow 0.3s ease-in-out 0s;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    -ms-transition: box-shadow 0.3s ease-in-out 0s;
}

.shadowBoxPx:hover, .shadowBox:hover{
    box-shadow: 25px 25px 0px #b7b3a7d6;
}

.titles{
    padding-top: 1rem;
    padding-right: 1rem;
    height: 100%;
    color: #4c3117;
    position: relative;
    left: 1rem;
    border-bottom: 2px solid #4c3117;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
}
    p{
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 130%;
    }

    .paddingtop{
        padding-top: 6rem;
    }

    .gradientGroup{
        display: flex;
        margin: 1rem 0;
        gap: 1rem;
        
    }
    .gradientIcons{
        padding: 8px 10px;
        background: -webkit-linear-gradient(-40deg, rgba(255,233,195, 1) 0%, #ff9394 100%);
        box-shadow: 6px 7px 0px #b7b3a7da;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 500;
        transition: 200ms;
    }
    
    a>.gradientIcons:hover{
        transition: 200ms;
        background: -webkit-linear-gradient(40deg, rgba(255,233,195, 1) 0%, #ff9394 100%);
    }
        

    .quote{
        min-height: 50vh;
    }

    .quotetext{
        font-size: 5rem;
        text-align: center;
        letter-spacing: -.1rem;
        line-height: 100%;
        text-overflow: ellipsis;
    }
    .quotename, .quotename2{
        margin: 2rem;
        font-size: 2rem;
        text-align: center;
    }

    .center{
        margin: 30% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .round{
        border-radius: 10rem;
    }

    .vh100{
        min-height: 100vh;
    }


    /* .shape{
        width: 250px;
        height: 250px;
        background-color: #b18d6c;
        border-radius: 20px;
    } */

    #responsiveLink{
        color: #ff5f45;
        text-decoration: underline;
        font-weight: 800;
        font-size: 1.2rem;}

    #responsiveLink:hover{
        color: #9d2f1e;
    }
    
    input{
        margin: 20px 0 3px;
        font-size: 1.2rem;
    	border:0;
        border-bottom: 2px #4c3117 solid;
	    padding:0;
	    background:none;
        text-align: center;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
    }

    input:focus{
        color: red;
        border: 0;
        
    }

    .flex-wrap{
        display: flex;
        flex-direction: column;
    }
    
    label{
        text-align: center;
        font-size: 0.8rem;
    }

 
    
    /*--------------------- Animasjon ---------------------------- */
    .wrapper{
        box-sizing: content-box;
        height: 70px;
        display: flex;

    }
    .words{
        overflow: hidden;
    }
    .words>span{
        display: block;
        padding: 10px 0;
        animation: spin_words 12s infinite;
        font-size: 3rem;
        font-weight: 800;
    }
    @keyframes spin_words{
        10%{
            transform: translateY(-104%);
        }
        25%{
            transform: translateY(-104%);
        }
        35%{
            transform: translateY(-204%);
        }
        50%{
            transform: translateY(-204%);
        }
        60%{
            transform: translateY(-304%);
        }
        75%{
            transform: translateY(-304%);
        }
        85%{
            transform: translateY(-404%);
        }
        100%{
            transform: translateY(-404%);
        }
    }



    /* ---------- Parallax ----------- */
    

.parallax{
    margin: auto;
    height: 85vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 20px;
    background-color: #080424;
}

.headerPx{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.backgroundPx{
    transform: translateZ(-20px) scale(2);
    z-index: -8; 
}

.px1{
    transform: translateZ(-20px) scale(2);
}
.px2{
    transform: translateZ(-17px) scale(2);
}
.px3{
    transform: translateZ(-10px) scale(1.6);
}
.px4{
    transform: translateZ(-3px) scale(1.3);

}
.px5{
    transform: translateZ(2px) scale(1.1);
    position: relative;
    bottom: 3rem;
}
.px6{
    transform: translateZ(5px) scale(1.1);
    position: relative;
    bottom: -5rem;
    
}

/* .correctionPx{
    height: 30%;
    background-color: red;
    margin: -50px;
    
} */


.backgroundPx,
.px1, .px2, .px3, .px4, .px5, .px6{
    position: absolute;
    width: 105%;
    height: 101%;
    object-fit: cover; 
    z-index: -1;
}

.titlePx{
    font-size: 3rem;
    transform: translateZ(-15px) scale(1.);
    color: white;
    position: relative;
    bottom: 4rem;
    font-weight: 200;
}

.bodyCopyPx{
    height: 100%;
    padding: 2rem;
    background-color: #080424;
    z-index: 1;
    overflow: hidden;
    
}

.pxCopy{
    margin: auto;
    font-size: 1.6rem;
    line-height: 150%;
    color: aliceblue;
    font-weight: 100;
}

.h3Px{
    margin: auto;
    max-width: 600px;
    font-size: 2rem;
    color: aliceblue;
    font-weight: 700;
    margin-bottom: 2rem;
}

.shadowBoxPx{
    border: 2px solid #4c3117;
    background-color: #fff3eb;
    box-shadow: 15px 15px 0px #b7b3a7;
    margin-bottom: 4rem;
    border-radius: .2rem;
    transition: 300ms;
    max-width: 1000px;
}

/* -----------ToDo List----------- */
.toDoDisplay{
    width: 350px;
}

.completed{
    text-decoration: line-through;
}

.toDoBtn{
    padding: 3px 8px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: transparent;
    border-radius: 4px;
    background-color: var(--mainbg-color);
    
}
.toDoBtn:hover{
    background-color: #080424;
    color: #b7b3a7;
}


#toDoList{
    list-style: none;
    margin-top: 20px;

}

#toDoForm{
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

.toDoflex{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.toDoCard{
    margin: 1rem auto ;
    padding-bottom:10px ;
    border-bottom: 1px #ff9394 solid;
    max-width: 350px;
}

.toDoCard.completed>h3{
    color:#b7b3a7
}

.activated{
    background-color: #080424;
    color: #b7b3a7;
}

/* ----------footer------------ */
footer{
    height: 12rem;
    ;
}

.footerText{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.illustration{
    max-width: 650px;
    margin-bottom: 6rem;
}

.avatar{
    /* width: 30rem;  */
    /* min-width: 150px; */
    /* height: 350px; */
    left: -30%;
    overflow: hidden;
}

.hide{
    display: none;
}
/* --------- Media query -------------- */
@media (max-width: 550px) {
    body{
        overflow: scroll;
    }
    
    .content2, .content{
        display: block;
        margin: auto;


           
            gap: 0px; 
            justify-content: center;
            align-content: center;
        
        
    }

  .titles{
    border-bottom: none;
  }
  
  .shadowBoxPx, .shadowBox{
    max-width: 100%;
  }
  .unitC{
    max-width: 90%;

  }
  .quotetext{
    padding: 1rem;
    font-size: 3rem;
    line-height: 90%;
  }
  .paddingtop{
    padding-top: 2rem;
  }
  .avatar{
    margin: auto;
    

}

.quotetext{
    padding-top: 5rem;
}
.quotename .quotename2{
    padding-bottom: 5rem;
} 

.hello>h2{
    text-align: center;
    margin-top: 2rem; 
}
.iAm{
    display: block;
    /* margin: auto; */
    /* overflow: hidden; */
    text-align: center;
}
.hide{
    display: block;
    font-weight: 800;
    /* max-width: 30%; */
}
.words>span{
    display: none;
}
.weird{
    margin: auto;
    /* overflow: hidden; */
    max-width: 100%;
}

#intr{
    margin: auto;
}

ul>li>h3{
overflow: hidden;
}
}